services:
  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: learn-coding
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
