name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Check
        run: pnpm check

      - name: Lint
        run: pnpm lint

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Unit Tests
        run: pnpm test
        env:
          POSTGRES_URL: postgres://user:pass@localhost:5432/db
          ARGOS_TOKEN: ${{ secrets.ARGOS_TOKEN }}
